@font-face	{
    font-family: 'FonteLogo';
    src: url("bubblegum-sans-regular.otf");
}

body{
    background-color: #606060;
}

p{
    font-size: 18px;
}

.interface{
    background-color: #606060;
}

.rendererStyle{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .6);
}

header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #000;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
}

.oculto{
    display: none;
}

ul{
    list-style: none;
}
button{
    box-shadow: 4px 5px 6px rgba(0, 0, 0, .6);
}
/* ASIDES */
.direita{
    position: absolute;
    top: 2%;
    right: .5%;
    padding: 10px;
}

.esquerda{
    position: absolute;
    top: 2%;
    left: -1.7%;
    padding: 10px;
}

.corpo{
    display: inline-block;
    width: 80%;
    margin-left: 8.5%;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
}

/* COLORS */
.vermelho{background-color: rgb(255, 0, 0);}

.verde{background-color: rgb(0, 255, 0);}

.azul{background-color: rgb(0, 0, 255);}

.amarelo{background-color: rgb(255, 255, 0);}

.ciano{background-color: rgb(0, 255, 255);}

.rosa{background-color: rgb(255, 0, 255);}

.cinza{background-color: rgb(128, 128, 128);}

.preto{background-color: rgb(0, 0, 0);}

.branco{background-color: rgb(255, 255, 255);}

/* FIGURES*/

.segment{background-image: url('img/line.jpg'); background-size: 62px 60px;}

.dot{background-image: url('img/dot.jpg'); background-size: 60px 45px;}

.triangle{background-image: url('img/triangle.jpg'); background-size: 62px 59px;}

.square{background-image: url('img/square.jpg'); background-size: 60px 59px;}

.pentagon{background-image: url('img/pentagon.jpg'); background-size: 62px 60px;}

.trapezoid{background-image: url('img/trapezoid.jpg'); background-size: 62px 60px;}

.circle{background-image: url('img/circle.jpg'); background-size: 55px 53px;}


.rendererStyle{
    background-color:black;
}

.extraCameraStyle{
    height: 200px;
    width: 100%;
}

.pickerSize{
    width: 100%;
    height: 150px;
}

.btn-size{
    height: 50px;
    width: 52px;
    margin: 10px 10px 0 0;
}

.forma{
    height: 60px;
    width: 62px;
    margin: 10px 10px 0 0;
}

.btn-size:focus{
    border: 3px #000 solid;;
}
.btn-size.preto:focus{
    border: 3px #808080 solid;
}


